# Python
__pycache__/
*.pyc

# Environment
.env
.venv

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Miscellaneous
/scripts/*
/frontend/*
/backend/*
/data/*
/experimental/*
/traffic_volume_models/*
/RawDataFiles/*
RandomForestTrafficModel_prediction.png

.gitattributes
.gitignore
LICENSE
README.md

