# Python
__pycache__/
*.pyc

# Environment
.env
.venv

# Data
/data/raw/*
/data/processed/*
/data/cache/*

# Allow sample data
!data/processed/input/traffic_data_sample.geojson
!data/processed/output/traffic_data_osm_lines_clean.geojson
!data/processed/comments.txt
!data/processed/coordinate_map.json

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Miscellaneous
/scripts/cache/
traffic_map.html
Traffic-density-pipeline/
