folium~=0.20.0
fastapi~=0.115.14
starlette~=0.46.2
pandas~=2.3.0
numpy~=2.3.1
holidays~=0.76
matplotlib~=3.10.3
scikit-learn~=1.7.0
geopandas~=1.1.1
shapely~=2.1.1
geopy~=2.4.1
osmnx~=2.0.4
openmeteo_requests~=1.5.0
requests-cache~=1.2.1
pyproj~=3.7.1
uvicorn~=0.35.0